body {
	background: rgb(200,200,200);
}
li {
	margin: 10px;
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	color: black;
	list-style: none;
}
h1{
	color:red;
	text-align: center;
}
header{
	position: sticky; 
	background-color: rgb(102,102,102);
}
header a {
	color: #fff;
}
header >ul  {
	display:flex;
} 
header ul ul {
	display:none;
}
header ul li:hover ul{
	display:table;
	position: absolute;
    background-color: rgb(102,102,102);
    left: .5vh;
    margin: 1vh 0;
}
div.menu,.sub-menu {
	color: #fff;
	cursor:pointer;
}
div.menu:hover ,.sub-menu:hover {
	transform: scale(1.3, 1.3);
	border-color: #fff;
	border-bottom: 1px solid;
	transition: all .2s;
}
.cuerpo {
	margin: 5vh 7.5vw;
	/*min-width: 100vw;*/
	/*min-height: 100vh;*/
	background-color: rgba(255,255,255,.8);

	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.cuerpo section {
	padding: 0 5vw;
}
.cuerpo section > p {
	text-align: center;
}
.cuerpo section > p:hover{
	text-align: left;
	color: red;
	transition: all 5s;
}
.taps {
	display: flex;
	margin: 0 -5vw;

}
.taps > li:hover {
	background-color: #0984cc;
}
.taps > li {
	margin: 0;
	width: auto;
}
.taps li a {
	padding: .5vh 4vh;
    display: flex;
}
.activo {
	background-color: #0984cc;
}
article {
	margin: 3vh auto;
}
#titulo {
	margin: 5vh auto;
}
.contenedor-taps {
    padding: 1vh 0;
}

#web {
	clear: both;
	background: #e5e5e5;
	padding: 0;
	overflow-y: scroll;
	width: 100%;
	height: 60vh;
	border: 0;
}